[Desktop Entry]
Version=1.0
Name=Android Emulator

Comment=Android Emulator
GenericName=Emulator
Keywords=Android;app;apk
Exec=emulator64-arm -avd che
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
